body{color:#444;background: #fff}
a{text-decoration:none; color:#444}
a:hover{text-decoration:none; color:#1E50A2}
a.active{outline:none}
.blue,blue a,.box h5 a,.box h6 a,.box a.more,.crumbs a{ color:#004499}
.keylink,.keylink:link,.keylink:hover,.keylink:active {text-decoration:underline;width:26px; height:22px; line-height:22px; background:#fff; border:1px dotted #aaa;  text-align:center}
textarea{border:1px solid #DCDDDD; background:#fff;clear:both;color:#555;font-size:14px;height:130px;padding:5px 0 0 5px;text-align:left;width:99%; margin-bottom:8px}
.input-text,input.date,input.endDate,.input-focus{border:1px solid #DCDDDD; height:22px; padding:0 0 0 3px}
input.date,input.endDate{background: #fff url(../images/admin_img/input_date.png) no-repeat right 3px; padding-right:18px;font-size:12px;}

a{hide-focus: expression(this.hideFocus=true)}  /* for ie 5+ */

/* 页面宽度 （更改页面宽度后，需要更改“images/v9/body-bg.png"图片的宽度） */
.header,.main,.footer{width:1000px;margin:10px auto;}
/* 头部 */
.header{/*padding:5px 5px;*/background-position: left -142px}
.header .logo{float:left;background-position: right 0px;background-repeat: no-repeat;/* padding:0 20px 0 10px; */height:127px; text-align:center;*font-size:40px;}
.header .logo a{display:table-cell;vertical-align:middle;text-align:center;*display:block; height:127px; float:left}
.header .nav-area{ float:left; width:1000px;_width:auto; /*padding-right:10px;*/ height:36px;/*background-color: #F60;*/background-color: #2175bc;}
.header .nav-area .content{ float:right;}
.ad-column, .wrap-line{width:1000px;margin:0 auto;}
.wrap-line{float:left;}

/* main style */
.main{}
.main .col-left{width:700px; margin-right:10px}
.main .col-left .slide{overflow:hidden;_float:left;zoom:1}

.main .wrap-line .slide{overflow:hidden;float:left;zoom:1;width:302px;margin-right:3px;}

.lcat-area{width:300px; float:left; margin-right:3px}
.ccat-area{width:400px; float:left; margin-right:3px}
.rcat-area{width:285px; float:left; margin-right:3px}


.lcat-area .content p img, .ccat-area .content p img, .rcat-area .content p img{ margin-right:10px; float:left}
.lcat-area .content p, .ccat-area .content p, .rcat-area .content p{color:#777; height:75px; overflow:hidden}
.lcat-area .content p strong, .ccat-area .content p strong, .rcat-area .content p strong{ font-size:14px; color:#333}


.list{ font-family:verdana,arial,sans-serif,"宋体"; color:#888; background: url(../images/num.png)  no-repeat 1px 6px}
.list li span{font-size:12px; padding:0 6px}

/*标题栏*/
.tank{border:1px solid #c3d4e7;zoom:1; overflow:auto; padding-bottom:4px}
.tank .titlebg{background: url(../images/tbg.jpg) top center repeat-x white; height:32px; width:100%}
.tank .title{margin-left: 5px; background: url(../images/title.jpg);float: left; height: 32px; width: 86px; text-align: center; line-height: 24px; color: white;}
.tank a.more{float:right; color:#f47500; font-size:12px; font-family:verdana,arial,sans-serif,"宋体"; margin:5px}
.tank .content{ padding:5px 10px; overflow:auto; height:200px}
.tank .content li{ border-bottom:1px dashed #bbb; height:23px;width:94%;font-size:12px}

/*文章列表模块*//*标题居左，时间居右*/ /*超长标题部分显示*/
.title-list li, li.title-list{list-style-type:none; flat:right; text-align:left;margin-left:23px}
.title-list a, a.title-list{float:left; width:86%; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; margin-left:2px}

/*导航栏按钮效果*/
#button {padding: 0;}
#button li {display: inline;}
#button li a {font-family: Arial;font-size:12px;text-decoration: none;float:left;padding: 10px;background-color: #2175bc;/*background-color: #F60;*/color: #fff;}
#button li a:hover {background-color: #2586d7;margin-top:0px;padding-bottom:12px;}

/*图片滚动导航模块*/
.container, .container img{width:300px; height:232px;}
.container img{border:0;vertical-align:top;}
.container ul, .container li{list-style:none;margin:0;padding:0;}
.num{position:absolute; right:5px; bottom:5px; font:12px/1.5 tahoma, arial; height:18px;}
.num li{float: left; color: #d94b01; text-align: center; line-height: 16px; width: 16px; height: 16px; font-family: Arial;
		font-size: 11px; cursor: pointer; margin-left: 3px; border: 1px solid #f47500; background-color: #fcf2cf;}
.num li.on{line-height: 18px; width: 18px; height: 18px; font-size: 14px; margin-top:-2px; background-color: #ff9415; font-weight: bold; color:#FFF;}


/* 标签页 */
/* 标准盒模型 */
.dtab{margin:0; width:100%;/*滑动门的宽度*/}
/* TAB 切换效果 */
.dtitle{margin-left: 5px; background-image: url(../images/tbg.jpg); background-repeat: repeat-x;background-color: #E6F2FF;}
.dtitle ul{height:32px;}
.dtitle li{float:left; height:32px; line-height:24px; width:86px; cursor:pointer;text-align:center}
/* 控制显示与隐藏css类 */
.normaltab{background-repeat: no-repeat; color:#1F3A87 ;}
.hovertab{background-image: url(../images/title.jpg); background-repeat: no-repeat; color:white; font-weight:bold }
.dis{display:block;}
.undis{display:none;}
.dtab .content{padding:0 10px; overflow:auto; height:200px}
.dtab .content li{ border-bottom:1px dashed #bbb; height:23px; width:94%; font-size:12px; line-height:24px}
/*****/

/* 内容 */
#Article{ overflow:hidden}
#Article,.photo-channel .relevance{ border:1px solid #C3D4E7;zoom:1; padding:0 20px}
#Article h1{color:#042f9c;font:800 26px/30px "宋体",arial;margin-bottom:6px; text-align:center; padding:16px 0 8px; border-bottom:1px solid #e5e5e5}
#Article h1 span{ font-size:12px; font-weight:normal; line-height:20px; color:#111; margin-right:20px}
#Article .content{ font-size:14px}
#Article .content p{font-size:14px;line-height:23px;text-align:justify;word-wrap:break-word; padding:8px 0}

/* 分页 */
#pages { padding:14px 0 10px; font-family:宋体 }
#pages a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#pages a.a1 { background:url(../images/admin_img/pages.png) no-repeat 0 5px; width:56px; padding:0 }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center;padding:0 10px}
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; background:url(../img/icu/titleBg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }

/* 图片新闻 */

.picnews{border:1px solid #c3d4e7;zoom:1; overflow:auto; padding:10px 3px; margin-right:3px;}
.picnews .title{width:36px; float:left; margin-right:7px;}
.picnews .content{margin-left:7px; algin:left}
.picnews a{margin:2px; color:#1e50a2}
.picnews img{width:225px; height:180px}

/* footer style */
/* link */
.footer p.info{}
.footer p.info{color:#666; line-height:24px;text-align:center; padding:12px 0; margin-top:15px; border-top:1px solid #dbe7ed}
.footer p.info a{color:#666;}
/*link*/
.colli li{display:inline-block;zoom:1;*display:inline;overflow:hidden;vertical-align:middle;}
.ylink h5 a.rt{ margin-right:8px; font-weight:normal; font-family:"宋体"}
.ylink h5 a.red{ color:red; font-weight:normal; padding:0 6px}
.ylink .imgul li{ text-align:center; margin:5px 10px;}
.ylink .linka a{ margin:10px; white-space:nowrap; height:30px; line-height:30px;}

.itemli{ margin:0px 10px;}
.itemli li{padding:10px 0px;}
.itemli li a{background:url(../images/bg_member_1.gif) no-repeat -5px -126px;font-weight:bold; padding-left:14px;color:#004499; font-size:13px;}
.pd_b0{padding-bottom:0px;}
/*内容摘要*/
.summary {background-color:#F6FAFD;border: 1px solid #DCDDDD;font-size: 14px;line-height: 23px;margin: 15px 0 0;padding: 12px 5px 6px;text-align: justify;text-indent: 2em;}

